<div class="search-container">
  <div class="heading">
    <h1>Country Information</h1>
  </div>
  <!--  <form class="search-form" #form="ngForm" (ngSubmit)="onSubmit(form)">-->
  <!--    <input-->
  <!--      class="search-input"-->
  <!--      name="search"-->
  <!--      type="text"-->
  <!--      ngModel-->
  <!--      placeholder="Search..."-->
  <!--      autocomplete="off"-->
  <!--      [(ngModel)]="searchText"-->

  <!--    />-->
  <!--    <button class="search-button">Search</button>-->
  <!--  </form>-->
</div>
